{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}


<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">City</th>
      <th scope="col">Province</th>
      <th scope="col">Created by</th>
      <th scope="col">Created date</th>
      <th scope="col">Updated_date</th>
      <th scope="col">Is active</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  <tbody>
    
{% if phone_book_rows %}
	{% for phone_book_row in phone_book_rows %}
		<tr>
			<td>{{ phone_book_row.first_name }} {{ phone_book_row.last_name }}</td>
			<td>{{ phone_book_row.phone_number }}</td>
			<td>{{ phone_book_row.city.name }}</td>
			<td>{{ phone_book_row.city.province.name }}</td>
			<td>{{ phone_book_row.author.username }}</td>
			<td>{{ phone_book_row.created_date }}</td>
			<td>{{ phone_book_row.updated_date }}</td>
			<td>{{ phone_book_row.is_active }}</td>
			<td><a href="{% url 'phone_book_record' phone_book_row.id %}">{{ phone_book_row.id }}</a></td>
		</tr>
	{% endfor %}

{% endif %}

	
	  </tbody>
	</table>





{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    
  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Login</button>

</form>



{% endif %}

{% endblock %}
