{% extends 'base.html' %}
{% block content %}



<div class="card">
  <div class="card-header"><strong>
    	{{ phone_book_record.first_name }}
		{{ phone_book_record.last_name }}</strong>
  </div>
  <div class="card-body">



<p class="card-text">
<strong>Name: </strong>{{ phone_book_record.id }}</p>

<p class="card-text">
<strong>Phone: </strong>{{ phone_book_record.phone_number }}
</p>

<p class="card-text">
<strong>City: </strong>{{ phone_book_record.city.name }}</p>

<p class="card-text">
<strong>Province: </strong>{{ phone_book_record.city.province.name }}</p>

<p class="card-text">
<strong>Created by: </strong>{{ phone_book_record.author.username }}</p>

<p class="card-text">
<strong>Created date: </strong>{{ phone_book_record.created_date }}</p>

<p class="card-text">
<strong>Updated_date: </strong>{{ phone_book_record.updated_date }}</p>


  </div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<a href="{% url 'delete_phone_book_record' phone_book_record.id %}" class="btn btn-danger">Delete</a>

<a href="{% url 'update_record' phone_book_record.id %}" class="btn btn-secondary">Update Record</a>


{% endblock %}